<h1>Termin hinzufügen</h1>
<mat-card class="add-appointment-card">
  <mat-card-content>
    <div class="row">
        <div class="col">
            <mat-form-field class="name-form">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="name">
                <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Datum</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="onAdd()"> 
      <mat-icon class="colored-icon">save</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<button mat-fab class="back-btn" (click)="onBack()">
  <mat-icon>arrow_back_ios_new</mat-icon>
</button>