<h1>Mamas</h1>
<mat-card class="mama-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> Bernadette Bleicher </mat-card-title>
    </mat-card-title-group>

    <button mat-icon-button>
      <mat-icon class="colored-icon">close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem Ipsum</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button>
      <mat-icon class="colored-icon">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="mama-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> Bernadette Bleicher </mat-card-title>
    </mat-card-title-group>

    <button mat-icon-button>
      <mat-icon class="colored-icon">close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem Ipsum</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button>
      <mat-icon class="colored-icon">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="mama-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> Bernadette Bleicher </mat-card-title>
    </mat-card-title-group>

    <button mat-icon-button>
      <mat-icon class="colored-icon">close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem Ipsum</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button>
      <mat-icon class="colored-icon">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="mama-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> Bernadette Bleicher </mat-card-title>
    </mat-card-title-group>

    <button mat-icon-button>
      <mat-icon class="colored-icon">close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem Ipsum</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button>
      <mat-icon class="colored-icon">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="mama-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> Bernadette Bleicher </mat-card-title>
    </mat-card-title-group>

    <button mat-icon-button>
      <mat-icon class="colored-icon">close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem Ipsum</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button>
      <mat-icon class="colored-icon">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="mama-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> Bernadette Bleicher </mat-card-title>
    </mat-card-title-group>

    <button mat-icon-button>
      <mat-icon class="colored-icon">close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem Ipsum</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button>
      <mat-icon class="colored-icon">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<button mat-fab class="add-btn">
  <mat-icon>add</mat-icon>
</button>
